@media (max-width: 768px) {

    main {
        padding: 100px 5%;
    }

    #menuInfo>ul>li {
        padding-top: 10%;
        font-size: 30px;
    }

    #logoCouronne{
        width: 70%;
    }

    #couronne{
        width: 60%;
    }
}