@media (max-width: 768px) {

    main {
        display: flex;
        padding: 100px 5%;
        justify-content: center;
        flex-direction: column;
    }

    /*MENU*/

    #menuInfo>ul>li {
        padding-top: 8%;
        font-size: 30px;
    }

    #menuInfo{
        display: none;
        flex-direction: column-reverse;
    }

    #visuelMenu{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10%;
    }

    #mascotteMenu {
        width: 30%;
        position: absolute;
        margin: 0 0 200px 180px;
        z-index: 2;
        animation: logoShake 15s ease-out 0s infinite normal forwards;
    }


    /*ACCUEIL*/

    #mainAccueil{
        padding: 100px 0;
    }

    #bienvenue {
        height: 600px;
        width: 100%;
    }

    #mascotte{
        position: absolute;
        z-index: 4;
        width: 100px;
        top: 15%;
        left: 13%;
    }
    
    #forme1{
        position: absolute;
        z-index: 4;
        width: 42px;
        top: 17%;
        right: 32%;
    }
    
    #mega{
        position: absolute;
        z-index: 4;
        width: 62px;
        top: 400px;
        left: 12%;
    }
    
    #cassette {
        position: absolute;
        z-index: 4;
        width: 72px;
        top: 95px;
        right: 10%;
        rotate: -30deg;
    }
    
    #etoile{
        position: absolute;
        z-index: 4;
        width: 30px;
        top: 460px;
        left: 25%;
    }
    
    #fleur1 {
        position: absolute;
        z-index: 4;
        width: 70px;
        top: 175px;
        right: 12%;
    }
    
    #fleur2 {
        position: absolute;
        z-index: 4;
        width: 50px;
        top: 400px;
        right: 12%;
    }
    
    #tartelette{
        position: absolute;
        z-index: 2;
        width: 80%;
        margin-top: -100px;
    }
    
    #ns_2024{
        position: absolute;
        z-index: 3;
        width: 65%;
        margin-top: -100px;
    }

    #btnlanding{
        z-index: 2;
        width: 60%;
        margin-left: 20%;
        margin-top: 0;
    }

    #affiche>div {
        padding: 20px 0 20px 20px;
        width: 100%;
    }

    .infoCard {
        width: 190px;
    }

    #news {
        padding: 4%;
    }
    .articleImg {
        height: 210px;
        width: 250px;
        padding: 2%;
    }

    #assoTxt>img {
        width: 250px;
        height: 250px;
    }

    /*CONCERT*/

    .sceneBtn {
        position: fixed;
        bottom: 0;
        background-color: beige;
        width: 100%;
        height: 80px;
        padding: 2%;
        border-top: solid #492E34;
        z-index: 2;
    }

    .sceneConteneur{
        width: 100%;
        padding: 10px 10px 1px 10px;
        margin: 1% 0;
    }
    
    .concertItem>img{
        margin: 2% 5%;
    }

    /*PROGRAMMATION*/

    #mainProg {
        display: flex;
        padding: 100px 5%;
        justify-content: center;
        flex-direction: column;
    }

    .progBtn {
        position: fixed;
        bottom: 0;
        background-color: beige;
        width: 100%;
        padding: 4% 10% 10% 10%;
        border-top: solid #492E34;
        z-index: 2;
    }

    #filtreTitre>img{
        margin-left: 20px;
    }

    .filtreConteneur {
        display: none;
        width: 90%;
    }


    

    
}