@media (max-width: 768px) {

    main {
        display: flex;
        padding: 100px 5%;
        justify-content: center;
        flex-direction: column;
    }

    #menuInfo>ul>li {
        padding-top: 10%;
        font-size: 30px;
    }

    #logoCouronne{
        width: 70%;
    }

    #couronne{
        width: 60%;
    }

    .sceneBtn {
        position: fixed;
        bottom: 0;
        background-color: beige;
        width: 100%;
        height: 80px;
        padding: 2%;
        border-top: solid #492E34;
    }
    .sceneConteneur{
        width: 100%;
        padding: 10px 10px 1px 10px;
        margin: 1% 0;
    }
    
    .concertItem>img{
        margin: 2% 5%;
    }
}