@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Caprasimo&display=swap');

body{
    background-color: #FFE3B0;
    overflow-x: hidden;
}

main{
    padding: 5% 15%;
}


/*STYLE DE BASE ET TEXTES */

h1{
    font-family: "Caprasimo", serif;
    font-weight: 600;
    font-style: normal;
    color: #3f292e;
}

h2{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    color: #3f292e;
}

h3{
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color: #3f292e;
}

p, label{
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color: #3f292e;
}



a{
    color: beige;
    text-decoration: none;
}

a:hover{
    color: #E47161;
}

button, .button-style {
    background-color:#E47161;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color: beige;
    cursor: pointer;
}

button:hover, .button-style:hover{
    background-color:#8f505e;
}

.active{
    background-color:#8f505e;
}
/* HEADER */

header{
    padding: 2%;
    position: fixed;
    width: 100%;
    z-index: 4;
}

#logo{
    width: 70px;
    height: 70px;
}

#menuBtn{
    position: relative;
    z-index: 4;
    cursor: pointer;
}

@keyframes menuSlide {
	0% {
		transform: translateY(-1200px);
	}

	100% {
		transform: translateY(0px);
	}
}

#menuInfo{
    display: none;
    justify-content: center;
    position: absolute;
    background-color: #492E34;
    color: beige;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    animation: menuSlide 2s ease 0s 1 normal ;
    z-index: 3;
}
#menuInfo>ul{
    padding-top: 8%;
}

#menuInfo>ul>li {
    font-family: "Afacad", sans-serif;
    color: beige;
    font-size: 50px;
    list-style: none;
}

/*FOOTER*/

footer {
    background-image: url(../media/illustration/footerBackground.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 15%;
    color: beige;
}

footer>div>div>p{
    color: beige;
}



/*Accueil*/

/*#bienvenue{
    background-image: url(../media/3941289-uhd_3840_2160_30fps.mp4);
}*/

#bienvenue>h1{
    padding-top: 20%;
}

@keyframes logoRotation {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

#logoAnim{
   padding: 10%;
}

#couronne{
    position: absolute;
    z-index: 2;
    width: 40%;
    animation: logoRotation 30s linear 0s ;
    filter: drop-shadow(0 5px #8f505e);
    

}

#logoCouronne{
    position: relative;
    z-index: 1;
    width: 50%;

}

/*AFFICHE*/
#affiche{
    padding-top: 30%;
    width: 100%;
}

/*#conteneurCarousel{
    padding: 0 10vw;
    position: relative;
    z-index: 1;
    display: flex;
    overflow-x:visible;
    scroll-behavior: smooth;
}*/

.carouselCard{
    background-image: none;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 320px;
    justify-content: end;
    background-color:#8f505e;
    border-style: solid;
    border-color: #492E34;
    margin: 1%;
    border-radius: 8px;
    cursor: pointer;
}

.carouselCard>div>h3,.carouselCard>div>p{
    color: beige;
    margin: 0;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
}
.carouselCard>div>h3{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: larger;
    font-size: 34px;
}


/* CONCERT */

.sceneConteneur {
    width: 480px;
    background-color: beige;
    padding: 10px 15px 10px 15px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 15px;
    margin: 1%;
}

.concertItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#8f505e;
    border-style: solid;
    border-color: #492E34;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color: beige;
    cursor: pointer;
}

.concertItem>div>h3,.concertItem>div>p{
    color: beige;
    margin: 0;
}

.concertItem>img{
    border-radius: 50%;
    object-fit: cover;
    margin: 0 18px 0 8px;
    border: solid 2px beige;
}

/*PROGRAMMATION*/

.progItem{
    background-image: none;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 320px;
    justify-content: end;
    background-color:#8f505e;
    border-style: solid;
    border-color: #492E34;
    margin: 1%;
    border-radius: 8px;
    cursor: pointer;
}

.progItem>div>h3,.progItem>div>p{
    color: beige;
    margin: 0;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
}
.progItem>div>h3{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: larger;
    font-size: 34px;
}

.progTxt,.infoCard{
    background: linear-gradient(0deg, rgba(0,0,0,0.6278886554621849) 49%, rgba(255,255,255,0) 100%);
    padding: 20px;
}
/* FAQ */

#faqHeader>h1{
    padding: 8%;
}

.faqTopic{
    padding: 2% 0;
}
.reponse{
    display: none;
}
.conteneurQuestion {
    background-color: beige;
    padding: 10px 25px 1px 25px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 15px;
    margin: 1% 0;
    cursor: pointer;
}

.inputForm {
    background-color: beige;
    padding: 10px 25px 10px 25px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 15px;
    margin: 1%;
}



/*RESEAUX SOCIAUX*/

.imgRS {
    width: 80px;
    padding: 5%;
    margin-right: 5%;
}

.conteneurRS {
    background-color: beige;
    padding: 25px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 50px;
    margin: 1%;

}