<div class="infoItem d-flex flex-column flex-md-row-reverse justify-content-center">

  <div>
    <img src="./media/illustration/happyfleur1.png" class="decoTitre">
  </div>

 
  <div class="d-flex flex-column justify-content-center align-items-center" >
    <h1 class="title">%title%</h1>
    <p class="scene"><strong>Lieu: </strong>%scene%</p>
    <p class="date"><strong>%date%</strong></p>
    <p class="heure">%heure%</p>
    <div class="description">%description%</div>
  </div>

    
  <div class="imgInfo">
    <img class="src" src="%src%">  
  </div> 
</div>